body,
html {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

::placeholder {
  color: #a7a7a7;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7a7a7;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a7a7a7;
}

.wd-image {
  content: url(world-map.png);
  /* height: 100%; */
  position: absolute;
  top: 10%;
  left: 9%;
  width: 40%;
}

.st-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 22%;
  left: 13%;
  width: 56%;
  font-size: 48px;
  color: white;
}

.bg-image {
  background-image: url("background.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;

  webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -o-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
}

row {
  display: block;
  margin-top: 10px;
}

label {
  color: #a7a7a7;
  font-size: 13px;
  font-weight: bold;
}

button {
  background-color: whitesmoke;
  border: 0px;
  border-radius: 8px;
  padding: 8px;
  font-weight: bolder;
  margin-left: 40%;
}

input#phone:invalid,
input#appt:invalid {
  color: red;
  /* border-bottom: 1px solid red; */
}

input#phone:valid,
input#appt:valid {
  color: green;
}
